<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maker.mapper.MovieMapper">
  <select id="selectMovieList" resultType="com.maker.vo.MovieVO">
  	select * from movie
  </select>
  <insert id = "insert">
  	<selectKey keyProperty="mno" order="BEFORE"
  		resultType="long">
  		select seq_movie.nextval from dual
  	</selectKey>
  	insert into movie(mno, m_title, m_comment, m_direct, m_char, m_open, m_img)
	values(seq_movie.nextval, #{m_title}, #{m_comment},
		#{m_direct}, #{m_char}, #{m_open}, #{m_img})
	</insert>
	<delete id="delete">
		delete from movie where mno = #{mno}
	</delete>
	<select id="read" resultType="com.maker.vo.MovieVO">
		select * from movie where m_title = #{m_title}
	</select>
	<update id="update">
		update movie set m_time = #{m_time} where m_title = #{m_title}
	</update>
	<select id="findByTitle" resultType="int">
		select count(*) from movie where m_title = #{m_title}
	</select>
	<select id="getList" resultType="com.maker.vo.MovieVO">
		select * from movie where m_time > 0
	</select>
	<select id="getview" resultType="com.maker.vo.MovieVO">
		select * from movie where rownum between 0 and 10 order by mno
	</select>
	<select id="lastview" resultType="com.maker.vo.MovieVO">
		select * from movie where rownum between 0 and 3 order by mno desc
	</select>
	<select id="readview" resultType="com.maker.vo.MovieVO">
		select * from movie where m_title = #{m_title}
	</select>
</mapper>